Package: enigma2-plugin-extensions-radioechoplus
Version: 1.0
Section: misc
Priority: optional
Architecture: all
Depends: python-subprocess, python-requests
Maintainer: oerlgrey
Description: Radio ECHOPLUS Player
Source:
